{% extends 'base.html.twig' %}

{% block title %}eVisio - Modification mot de passe{% endblock %}

{% block body %} 
    <div class="container">
        <h3>Modif</h3>
        {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-primary">Valider</button>
        {{form_end(form)}}
    </div>
{% endblock %}