{% extends 'base.html.twig' %}

{% block title %}eVisio - Modification profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">                
            <div class="col-md-6 col-md-offset-3">
                <h3>Modification du profil</h3>
                {{form_start(form)}}
                {{form_widget(form)}}
                <button type="submit" class="btn btn-success">Valider</button>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}